/*External Styling for About page*/

body{
	font-family: 'Ubuntu', sans-serif ;
}

#header_bg{
	background-color: #AA1945;
}

#footer_bg{
	background-color: #391306;
}

#content_bg{
	background-color: #FADCD9;
}

#brand-logo{
	height: 60px;
}
  
#brand-img{
	height: 50px;
}

#main_img{
	height: 300px;
	width: 250px;
	
}

#projects_bar{
	border-radius: 10px;
	background-color: #b42b6f;
}

.color-dark-purple{
	 background-color: #4b2d83;
}

#RISC_img{
	height: 225px;
}

#Finsearch_img{
	height: 225px;
}

#ProSite_img{
	height: 225px;
}

